target
/root/projects/solr4/overlays
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112.info
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/favicon.ico
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/index.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/_info.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/action.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/analysis.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/analysis.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/dataimport.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/debug.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/distributiondump.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/favicon.ico
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/form.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/get-file.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/get-properties.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/header.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/index.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/jquery-1.2.3.min.js
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/meta.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/ping.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/ping.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/raw-schema.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/registry.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/registry.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/schema.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/solr-admin.css
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/solr_small.png
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/stats.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/stats.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/tabular.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/threaddump.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/threaddump.xsl
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/replication/header.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/admin/replication/index.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/META-INF/LICENSE.txt
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/META-INF/MANIFEST.MF
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/META-INF/NOTICE.txt
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/report/index.jsp
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/jboss-deployment-structure.xml
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/jboss-web.xml
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/web.xml
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/weblogic.xml
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/apache-solr-core-1.4.1.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/apache-solr-dataimporthandler-1.4.1.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/apache-solr-solrj-1.4.1.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/commons-csv-1.0-SNAPSHOT-r609327.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/commons-fileupload-1.3.1.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/commons-httpclient-3.1-patched.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/commons-io-2.4.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/geronimo-stax-api_1.0_spec-1.0.1.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/jcl-over-slf4j-1.5.5.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-analyzers-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-core-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-highlighter-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-memory-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-misc-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-queries-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-snowball-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/lucene-spellchecker-2.9.3.jar
root/projects/solr/overlays/org.apache.solr.apache-solr-1.4.1-alfrescopatched-20141112/WEB-INF/lib/wstx-asl-3.2.7.jar
